@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&family=Permanent+Marker&family=Shadows+Into+Light&family=Teko:wght@300&family=Titan+One&display=swap');

h1 {
  font-size: 48px;
  font-weight: 0px;
  padding-bottom: 10px;
  font-family: 'Titan One';
  text-align: center;
  color: #291784;
}

h2 {
  font-size: 28px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  color: #1b176a;
  margin: 35px 10px 30px 10px;
}

.todo_container {
  width: auto;
  margin: auto;
}

.todo {
  margin-top: 20px;
  background: rgb(207, 194, 164);
  padding: 10px 20px;
  border-radius: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 2px 11px rgb(3, 21, 120);
}

.todo input {
  cursor: pointer;
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-family: cursive;
  color: rgb(42, 67, 88);
  font-weight: 500;
}

.done{
  border-radius: 100%;
  border-width: 0px;
  background-color: transparent;
  font-size: 32px;
  box-shadow: 2px 1px 3px rgb(16, 116, 24);
}
.button_complete {
  color: rgb(49, 186, 49);
}

.edit {
  border-radius: 100%;
  border-width: 0px;
  background-color: transparent;
  font-size: 32px;
  box-shadow: 2px 1px 4px rgb(51, 50, 50);
}
.button-edit{
  color: rgb(60, 60, 60);
}

.delete {
  border-radius: 100%;
  border-width: 0px;
  background-color: transparent;
  font-size: 32px;
  box-shadow: 2px 1px 4px rgb(158, 19, 19);
}
.button-delete{
  color: rgb(183, 33, 33);
}

.input_container{
  margin-top: 20px;
  background: rgb(197, 189, 189);
  padding: 15px 20px 30px 20px;
  border-top-left-radius: 35px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 12px rgb(19, 170, 31);
}

.btn_container {
  background: #4caf50;
  color: rgb(53, 53, 53);
  padding: 12px 22px;
  border-radius: 9px;
  border-width: 2px;
  border-color: #2c7e2f;
  font-size: 16px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-shadow: 1px 2px 10px rgb(13, 94, 18);
}